#AttendanceDiv{
    
    display: flex;
    justify-content:center ;
    margin-bottom: 20px;
    
}

.AttendanceCard{
    border-radius: 20px;
    background: linear-gradient(180deg, #3AAFA9 0%, rgba(58, 175, 169, 0.68) 99.98%, rgba(58, 175, 169, 0.52) 99.99%, rgba(58, 175, 169, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 125px;
    width: 350px;
    margin-bottom: 30px;
    margin-right: 50px;
    margin-left: 5ch;

}
.AttendanceSubject{
    padding-left: 30px;
    /* color: #17252A; */
    padding-top: 10px;
    color: #FFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.AttendancePercent{
    font-size: 36px;
    display: flex;
    justify-content: end;
    padding-right: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}