.TimeTableDay {
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.TimeTableDay:hover{
    color: black;
    font-weight: bold;

}
.TimeTableBar{
    border-radius: 20px 20px 0px 0px;
    background: linear-gradient(180deg, #2B7A78 0%, rgba(23, 37, 42, 0.90) 99.96%, rgba(23, 37, 42, 0.90) 99.97%, rgba(23, 37, 42, 0.85) 99.98%, rgba(23, 37, 42, 0.63) 99.99%, rgba(23, 37, 42, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex; justify-content: space-between;  height: 7vh; width: 100%;
}

.TimeTableDayBar {
  height: 100%;
  width: 250%;
  color: #fff;
   
}

.TimeTableCards {
  display: flex;
  border-radius: 20px 20px 20px 0px;
  background: #def2f1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 12vh;
  flex-shrink: 0;
  margin-top: 3%;
}

.TimeTableTime{
    width: 10%;
height: 12vh;
flex-shrink: 0;
border-radius: 20px 0px 0px 0px;
background: linear-gradient(180deg, rgba(43, 122, 120, 0.73) 0%, rgba(43, 122, 120, 0.00) 0.01%, rgba(43, 122, 120, 0.54) 0.02%, #2B7A78 100%);
}

.TimeTableTimeContent{
    width: 80%;
    height: 100%;
    flex-shrink: 0; 
    padding: 20%;
    color: #FFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style:normal;
    font-weight: 500;
    line-height: normal;
}

.TimeTableBox{
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(180deg, #def2f1,#feffff); 
    

}
.TimeTableSubject{
    width: 90%;
    
}
.TimeTableSubjectContent{
    padding:1%;
    padding-top: 2%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(180deg, #17252A 0%, rgba(23, 37, 42, 0.69) 39.06%, rgba(23, 37, 42, 0.67) 99.97%, rgba(23, 37, 42, 0.60) 99.98%, rgba(23, 37, 42, 0.47) 99.99%, rgba(23, 37, 42, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
