{% extends 'AdminBase.html' %}

{% block title %}AdminHomePage{% endblock %}

{% block BODY %}

<style>
    #button_profile{
        background-color: #17252a ;
        color: #fff;
    
    }
</style>

<div>
    <div class="homepageinfo" style="font-size: 40px; padding-top: 10vh; width: 100%;">NAME: {{result[6]}}</div>
    <div class="">
     <table>
             <tr>
             <td>
                     <div class="homepageinfo">EMAIL ID: 
                        <span class="homepagevalue">
                            {{result[3]}}
                        </span>
                    </div>
                 </td>
                 <td>
                     <div class="homepageinfo">PHONE NO.:
                        <span class="homepagevalue">
                            {{result[5]}}
                        </span>
                     </div>
                 </td>
             </tr>
        
        
            <tr>
                <td>
                    <div class="homepageinfo">D.O.B.:
                        <span class="homepagevalue">
                            {{result[7]}}
                        </span>
                    </div>
                </td>
                <td>
                    <div class="homepageinfo">ADDRESS:
                        <span class="homepagevalue">
                            {{result[8]}}
                        </span>
                    </div>
                </td>
            </tr>
           
        
     </table>
    </div>
</div>
{% endblock %}