{% extends 'AdminBase.html' %}

{% block title %}AdminAddStudent{% endblock %}


{% block BODY %}

<!-- <script>
  function myFunction() {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script> -->
<style>
  #button_addStudents{
      background-color: black ;
      color: #fff;
  
  }
</style>


<div style="display: flex; ">
  <div class="AddDeleteButtons">
    <a href="{{url_for('AdminAddStudent')}}">
      <button class="button1" style="background: #2b7a78 ;">
        <span class="label">ADD</span>
      </button>
    </a>
  </div>

  <div class="AddDeleteButtons">
    <a href="{{url_for('AdminDeleteStudent')}}">
      <button class="button1">
        <span class="transition"></span>
        <span class="gradient"></span>
        <span class="label">DELETE</span>
      </button>
    </a>
  </div>
</div>

<div>
  
  <form action="/AdminAddStudent" method="post" autocomplete="off">
    <div style="display: flex; ">

      <div style="padding-right: 20%; padding-left: 1%;">
        
        <div class="StudentUpdate">
          NAME
          <div>
            <input type="text" name="StudentName" placeholder="Student Name" class="input1">
          </div>
        </div>
        
        
        <div class="StudentUpdate">
          PHONE NO.
          <div>
            <input type="text" name="PNo" placeholder=" Phone No." class="input1">
          </div>
        </div>

        <div class="StudentUpdate">
          ADDRESS
          <div>
            <input type="text" name="Addr" placeholder="Address" class="input1" >
          </div>
        </div>
      </div>
      
      <div style="display: block;">

        
        <div class="StudentUpdate">
          EMAIL ID
          <div>
            <input type="email" name="Email" placeholder="email id" class="input1"> 
          </div>
        </div>
        <div class="StudentUpdate">
          ROLL NO.
          <div>
            <input type="number" name="RNo" placeholder="Roll No." class="input1">
          </div>
        </div>
        <div class="StudentUpdate">
          DATE OF BIRTH
          <div>
            <input type="date" name="DOB" placeholder="D.O.B. " class="input1">  
          </div>
        </div>
      </div>
      
    </div>
    <div style="padding-left:1% ; padding-top: 5%;">
      
      <div class="StudentUpdate">
        UNIQUE ID
        <div>
          <input type="text" name="UID" placeholder="UNIQUE ID." class="input1" autocomplete="off">
        </div>
      </div>
      <div class="StudentUpdate">
        PASSWORD 
        <div>
          <input type="password" name="Password" placeholder="password"  id="myInput" class="input1" autocomplete="off">
        </div>
      </div>
      
      <div class="StudentUpdate">
        <button type="submit" class="button-8" style="font-size: 17px;padding: 1em 2.7em;">SUBMIT</button>
      </div>

    </div>
    </form>
  </div>
  {% if success %}
  <div class="alertMessage">
    <span class="closeBtn" onclick="this.parentElement.style.display='none';">×</span>
    <strong>STUDENT ADDED</strong> 
</div>
{%elif success==False%}
<div class="alertMessage">
  <span class="closeBtn" onclick="this.parentElement.style.display='none';">×</span>
  <strong>STUDENT NOT ADDED</strong> 
</div>
{%else%}
<div></div>
{%endif%}
{% endblock %}