{% extends 'AdminBase.html' %} {% block title %}AdminDeleteTeacher{% endblock %}
{% block BODY %}
<style>
    #button_GiveTimeTable {
        background-color: #17252a;
        color: #fff;
    }
    </style>
    <form action="/AdminGiveTimeTable" method="post">
<div style="padding-top:0.1% ;">

    <div style="background: linear-gradient(180deg, #2B7A78 0%, rgba(23, 37, 42, 0.90) 99.96%, rgba(23, 37, 42, 0.90) 99.97%, rgba(23, 37, 42, 0.85) 99.98%, rgba(23, 37, 42, 0.63) 99.99%, rgba(23, 37, 42, 0.00) 100%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); width: 70vw; margin: 5%; margin-top: 3%; height: 10vh; ">
    <input class="givetimetablesearch" type="text" placeholder="Enter Teacher ID" name="TeacherID">
    </div>


</div>

<div style="display: flex;">

        <div class="ttallotecards">
            <div class="ttallotecardsname">
                DAY
            </div>
            <div class="ttallotecardsinput">
                <select name="selectedDay" id="selectedDay" class="ttallotecardsinput">
                    <option value="MON" >MONDAY</option>
                    <option value="TUE" >TUESDAY</option>
                    <option value="WED" >WEDNESDAY</option>
                    <option value="THU" >THURSDAY</option>
                    <option value="FRI" >FRIDAY</option>
                </select>
            </div>
        </div>
        <div class="ttallotecards">
            <div class="ttallotecardsname">
                TIME
            </div>
            <div class="ttallotecardsinput">
                <select name="ttallotetime" id="ttallotetime" class="ttallotecardsinput">
                    <option value="10:00-11:00" >10:00-11:00</option>
                    <option value="11:00-12:00" >11:00-12:00</option>
                    <option value="12:00-13:00" >12:00-13:00</option>
                    <option value="13:00-14:00" >13:00-14:00</option>
                    <option value="14:00-15:00" >14:00-15:00</option>
                    <option value="15:00-16:00" >15:00-16:00</option>
    
                </select>
            </div>
        </div>
        <div class="ttallotecards">
            <div class="ttallotecardsname">
                CLASS
            </div>
            <div class="ttallotecardsinput">
                <select name="selectedClass" id="selectedClass" class="ttallotecardsinput">
                    <option value="CS" >CS</option>
                    <option value="IT" >IT</option>
                    <option value="AIDS" >AI DS</option>
                    <option value="AIML" >AI ML</option>
                </select>
                
            </div>
        </div>

</div>
<div class="adminttsubmit" style="border: none;">
    <button class="adminttsubmit"> SUBMIT</button>
</div>
</form>
{%endblock%}