{% extends 'AdminBase.html' %}

{% block title %}AdminHomePage{% endblock %}

{% block BODY %}

<style>
    #button_profile{
        background-color: black ;
        color: #fff;
    
    }
</style>

<div>
    <div class="homepageinfo" style="font-size: 40px; padding-top: 10vh; width: 100%;">NAME:SIDDHANT GAIKWAD</div>
    <div class="">
     <table>
             <tr>
             <td>
                     <div class="homepageinfo">EMAIL ID: 
                        <span class="homepagevalue">
                            siddhant.gaikwad1754@gmail.com
                        </span>
                    </div>
                 </td>
                 <td>
                     <div class="homepageinfo">PHONE NO.:
                        <span class="homepagevalue">
                            9322857003
                        </span>
                     </div>
                 </td>
             </tr>
        
        
            <tr>
                <td>
                    <div class="homepageinfo">D.O.B.:
                        <span class="homepagevalue">
                            17/05/2004
                        </span>
                    </div>
                </td>
                <td>
                    <div class="homepageinfo">ADDRESS:
                        <span class="homepagevalue">
                            Pimple Gurav, Pune-61
                        </span>
                    </div>
                </td>
            </tr>
           
        
     </table>
    </div>
</div>
{% endblock %}