{% extends 'AdminBase.html' %} {% block title %}AdminDeleteTeacher{% endblock %}
{% block BODY %}
<style>
    #button_addTeachers {
        background-color: black;
        color: #fff;
    }
</style>
<div style="display: flex">
    <div class="AddDeleteButtons">
        <a href="{{url_for('AdminAddTeacher')}}">
            <button class="button1">
                <span class="transition"></span>
                <span class="gradient"></span>
                <span class="label">ADD</span>
            </button>
        </a>
    </div>

    <div class="AddDeleteButtons">
        <a href="{{url_for('AdminDeleteTeacher')}}">
            <button class="button1" style="background: #2b7a78">
                <span class="label">DELETE</span>
            </button>
        </a>
    </div>
</div>

<div>
    <div style="display: flex; padding-left: 1%">
        <form action="/AdminDeleteTeacher" method="post">
            <div style="padding-bottom: 1%">
                UNIQUE ID
                <div>
                    <input type="text" placeholder="UNIQUE ID" name="UID1" class="input1" />
                    <button type="submit" class="button-8" name="DeleteForm" value="Search">submit</button>
                </div>
            </div>
        </form>
        <form action="/AdminDeleteTeacher" method="get">
            <button type="submit" style="margin-left: 10%; margin-top: 40%" class="button-8" >
                clear
            </button>
        </form>
    </div>
    {% if exists=='nothing' %}
    <div>

    </div>

    {%elif exists%}
    <div>
        <div>
            <div class="StudentUpdate">NAME:  <span class="StudentUpdateValue">{{result[8]}}</span></div>
            <div class="StudentUpdate">PHONE NUMBER: <span class="StudentUpdateValue">{{result[11]}}</span></div>
            <div class="StudentUpdate">YEARS OF EXPERIENCE: <span class="StudentUpdateValue">{{result[12]}}</span></div>
            <div class="StudentUpdate">ADDRESS: <span class="StudentUpdateValue">{{result[10]}}</span></div>
            <div class="StudentUpdate">EMAIL ID: <span class="StudentUpdateValue">{{result[6]}}</span></div>
            <div class="StudentUpdate">UID: <span class="StudentUpdateValue">{{result[0]}}</span></div>
            <div class="StudentUpdate">PASSWORD: <span class="StudentUpdateValue">{{result[7]}}</span></div>
    
            <form action="/AdminDeleteTeacher" method="post" class="StudentUpdate">
                <button type="submit" name="DeleteForm" value="Confirm" class="button-8 " style="font-size: 17px;padding: 1em 2.5em;">CONFIRM DELETE</button>
            </form>
            
            {%if exists=='deleted'%}
            <div>
                <div class="alertMessage">
                    <span class="closeBtn" onclick="this.parentElement.style.display='none';">×</span>
                    <strong>TEACHER DELETED</strong>
                </div>
            </div>
            {%endif%}
        </div>
    </div>
    {%else%}
    <div>
        <div class="alertMessage">
            <span class="closeBtn" onclick="this.parentElement.style.display='none';">×</span>
            <strong>TEACHER NOT FOUND</strong>
        </div>
    </div>
    {%endif%}
</div>
{% endblock %}