<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COLLEGE ERP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_page.css') }}">
    
</head>

<body>
    <div >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHQG40TNORAVy5nbbRZ7w7qXq53OjL-SF2yulzCYBPa-MFAGTn6fXGe6huHZ_GoolR6UI&usqp=CAU" alt="" id="img">
    </div>

    <div class="Login_info">
        <div class="login_text">
            <h1> 
                SIGN IN
            </h1>
        </div>
        <form action="/" method="POST">
            <div id="login">
                <input type="email" name="login_email" id="login_email" placeholder="email">
                <input type="password" name="login_password" id="login_password" placeholder="password">
                <!-- <a href="Profile.html"></a> -->
                <button id="Login_button">LOGIN</button>
            </form>
            </div>
            {% if not exist %}
                <div class="user-error">
                    <p>Either username or password is incorrect.</p>
                </div>
            {% endif %}
        </div>
</body>
</html>