{% extends 'StudentBase.html' %}

{% block title %}StudentResultPage{% endblock %}

    {% block BODY %}
    <style>
        #button_StudentResult{
            background-color:#17252a  ;
            color: #fff;
        }
    </style>
    <div style="margin: 1%; padding-top: 5%; display: block;">
    
        <div style="display: flex;">
            <div style="width: 15%; margin-right: 18%;">
                <div class="AttendanceCard">
                    <div class="AttendanceSubject">
                        IoT
                    </div>
                    <div class="AttendancePercent" id="IoTAttendance">
                        {{result[2]}}/100
                    </div>
                </div>
            </div>
            <div style="width: 15%; margin-right: 18%;">
                <div class="AttendanceCard">
                    <div class="AttendanceSubject">
                        DBMS
                    </div>
                    <div class="AttendancePercent" id="IoTAttendance">
                        {{result[1]}}/100
                    </div>
                </div>
            </div>
            <div style="width: 15%; ">
                <div class="AttendanceCard " >
                    <div class="AttendanceSubject">
                        DATA SCIENCE
                    </div>
                    <div class="AttendancePercent" id="IoTAttendance">
                        {{result[5]}}/100
                    </div>
                </div>
            </div>
            </div>
            <div style="display: flex; padding-top: 2%;">
                <div style="width: 15%; margin-right: 18%;">
                    <div class="AttendanceCard">
                        <div class="AttendanceSubject">
                            OOPs
                        </div>
                        <div class="AttendancePercent" id="IoTAttendance">
                            {{result[3]}}/100
                        </div>
                    </div>
                </div>
                <div style="width: 15%; margin-right: 18%;">
                    <div class="AttendanceCard">
                        <div class="AttendanceSubject">
                            DSA
                        </div>
                        <div class="AttendancePercent" id="IoTAttendance">
                            {{result[4]}}/100
                        </div>
                    </div>
                </div>
                <div style="width: 15%; ">
                    <div class="AttendanceCard " >
                        <div class="AttendanceSubject">
                            PoPL
                        </div>
                        <div class="AttendancePercent" id="IoTAttendance">
                            {{result[6]}}/100
                        </div>
                    </div>
                </div>
            </div>
            <div style="border-radius: 20px;
            background: #DEF2F1;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); height: 20vh; margin: 3%; margin-top: 1%; display: block;" > 
                    <div style="display: flex; justify-content: space-between; margin: 2%; padding-top: 1.5%;" >
                        <div class="studentresultsmain">FINAL SCORE</div>
                        <div class="studentfinalscore"> {{total}}/100</div>
                    </div>
                    <div style="display: flex; justify-content: space-between; margin: 2%;">
                        <div class="studentresultsmain">FINAL GRADE</div>
                        <div class="studentfinalscore">A+ </div>
                    </div>
            </div>
    </div>
    {%endblock%}