{% extends 'StudentBase.html' %}

{% block title %}StudentHomePage{% endblock %}

{% block BODY %}
<style>
    #button_stdprofile{
        background-color: black ;
        color: #fff;
    }
</style>
<div>
    <div class="homepageinfo" style="font-size: 40px; padding-top: 10vh; width: 100%;">NAME:
        <span>
             PRUTHVIRAJ GAIKWAD
        </span>
    </div>
    <div class="">
     <table>
             <tr>
             <td>
                     <div class="homepageinfo">EMAIL ID: 
                        <span class="homepagevalue">
                            pruthviraj.gaikwad1754@gmail.com
                        </span>
                    </div>
                            
                 </td>
                 <td>
                     <div class="homepageinfo">PHONE NO.:
                        <span class="homepagevalue">
                            1234567890
                        </span>
                    </div>
                 </td>
             </tr>
        
        
            <tr>
                <td>
                    <div class="homepageinfo">D.O.B.:
                       <span class="homepagevalue">
                            00/02/2004
                       </span>
                    </div>
                </td>
                <td>
                    <div class="homepageinfo">ADDRESS: 
                        <span class="homepagevalue">
                            KATRAJ, PUNE-61
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="homepageinfo">ROLL NO.:
                        <span class="homepagevalue">
                            15
                        </span>
                    </div>
                </td>
                <td>
                    <div class="homepageinfo">UNIQUE ID: 
                        <span class="homepagevalue">
                            12211032
                        </span>
                    </div>
                </td>
            </tr>
        
     </table>
    </div>
</div>

{%endblock%}