{% extends 'StudentBase.html' %}

{% block title %}StudentResultPage{% endblock %}

    {% block BODY %}
    <style>
        #button_StudentResult{
            background-color:#17252a  ;
            color: #fff;
        }
    </style>
    <div style="margin: 1%; padding-top: 5%; display: block;">
    
        <div style="display: flex;">
            <div style="width: 15%; margin-right: 18%;">
                <div class="AttendanceCard">
                    <div class="AttendanceSubject">
                        IoT
                    </div>
                    <div class="AttendancePercent" id="IoTAttendance">
    
                    </div>
                </div>
            </div>
            <div style="width: 15%; margin-right: 18%;">
                <div class="AttendanceCard">
                    <div class="AttendanceSubject">
                        IoT
                    </div>
                    <div class="AttendancePercent" id="IoTAttendance">
    
                    </div>
                </div>
            </div>
            <div style="width: 15%; ">
                <div class="AttendanceCard " >
                    <div class="AttendanceSubject">
                        IoT
                    </div>
                    <div class="AttendancePercent" id="IoTAttendance">
    
                    </div>
                </div>
            </div>
            </div>
            <div style="display: flex;">
                <div style="width: 15%; margin-right: 18%;">
                    <div class="AttendanceCard">
                        <div class="AttendanceSubject">
                            IoT
                        </div>
                        <div class="AttendancePercent" id="IoTAttendance">
    
                        </div>
                    </div>
                </div>
                <div style="width: 15%; margin-right: 18%;">
                    <div class="AttendanceCard">
                        <div class="AttendanceSubject">
                            IoT
                        </div>
                        <div class="AttendancePercent" id="IoTAttendance">
    
                        </div>
                    </div>
                </div>
                <div style="width: 15%; ">
                    <div class="AttendanceCard " >
                        <div class="AttendanceSubject">
                            IoT
                        </div>
                        <div class="AttendancePercent" id="IoTAttendance">
    
                        </div>
                    </div>
                </div>
            </div>
            <div style="border-radius: 20px;
            background: #DEF2F1;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); height: 20vh;"> 
                    <div >
                        hello
                    </div>
                    <div>
    
                    </div>
            </div>
    </div>
    {%endblock%}