{% extends 'StudentBase.html' %}

{% block title %}StudentAttendancePage{% endblock %}

{% block BODY %}

<style>
    #button_StudentAttendance{
        background-color: black ;
        color: #fff;
    }
</style>

<div id="AttendanceDiv" style="padding-top: 8%;">
    <div>
        <div class="AttendanceCard">
            <div class="AttendanceSubject">
                DBMS
            </div>
            <div class="AttendancePercent" >
                90%
            </div>
        </div>

        <div class="AttendanceCard">
            <div class="AttendanceSubject">
                OOPs
            </div>
            <div class="AttendancePercent" >
                95%
            </div>
        </div>

        <div class="AttendanceCard">
            <div class="AttendanceSubject">
                IoT
            </div>
            <div class="AttendancePercent">
                85%
            </div>
        </div>
    </div>


 <div>
    <div class="AttendanceCard">
        <div class="AttendanceSubject">
            DSA
        </div>
        <div class="AttendancePercent" >
            92%
        </div>
    </div>
    <div class="AttendanceCard">
        <div class="AttendanceSubject">
            Data Science
        </div>
        <div class="AttendancePercent" >
            75%
        </div>
    </div>

    <div class="AttendanceCard">
        <div class="AttendanceSubject">
            PoPL
        </div>
        <div class="AttendancePercent" >
            72%
        </div>
    </div>

</div>
{%endblock%}