{% extends 'TeacherBase.html' %}

{% block title %}TeacherHomePage{% endblock %}

{% block BODY %}
<style>
    #button_TeacherTimeTable{
        background-color: #17252a ;
        color: #fff;
    }
</style>

<div class="TimeTableBox" style="padding-top:1%; margin-left:1% ;margin-right: 1%;">
<form action="/TeacherTimeTablePage" method="get">
    <div class=" TimeTableBar">

            <span class="TimeTableDayBar">
                <button class="TimeTableDay" name="DAYS" value="MON">MON</button>
            </span>
            
            <span class="TimeTableDayBar">
                <button class="TimeTableDay" name="DAYS" value="TUE">TUE</button>
            </span>
            
            <span class="TimeTableDayBar">
                <button class="TimeTableDay" name="DAYS" value="WED">WED</button>
            </span>
            
            <span class="TimeTableDayBar"> 
                <button class="TimeTableDay" name="DAYS" value="THU">THU</button>
            </span>
            
            <span class="TimeTableDayBar">
                <button class="TimeTableDay" name="DAYS" value="FRI">FRI</button>
            </span>
        </div>
    </form>

    <div style="background-color: #fff; height: 100%; padding: 0.001% 3% 3% 3%"> 
            <!-- For the Time table cards -->
            {% for table in ttable %}
            <div class="TimeTableCards">
                <div class="TimeTableTime">
                    <div class="TimeTableTimeContent">
                        {{table["start"]}}
                        {{table["end"]}}
                    </div>
                </div>
                <div class="TimeTableSubject">
                    <div class="TimeTableSubjectContent">
                        {{table["class"]}}
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- <div class="TimeTableCards">
                <div class="TimeTableTime">
                    <div class="TimeTableTimeContent">
                        12:00 pm
                        1:00 pm
                    </div>
                </div>
                <div class="TimeTableSubject">
                    <div class="TimeTableSubjectContent">
                        Data Science
                    </div>
                </div>
            </div>
            <div class="TimeTableCards">
                <div class="TimeTableTime">
                    <div class="TimeTableTimeContent">
                        2:00 am
                        3:00 pm
                    </div>
                </div>
                <div class="TimeTableSubject">
                    <div class="TimeTableSubjectContent">
                       Principles of Programming Language
                    </div>
                </div>
            </div>
            <div class="TimeTableCards">
                <div class="TimeTableTime">
                    <div class="TimeTableTimeContent">
                        3:00 am
                        4:00 pm
                    </div>
                </div>
                <div class="TimeTableSubject">
                    <div class="TimeTableSubjectContent">
                       OOPs
                    </div>
                </div>
            </div>
            <div class="TimeTableCards">
                <div class="TimeTableTime">
                    <div class="TimeTableTimeContent">
                        3:00 am
                        4:00 pm
                    </div>
                </div>
                <div class="TimeTableSubject">
                    <div class="TimeTableSubjectContent">
                       OOPs
                    </div>
                </div>
            </div> -->
    </div>


</div>
</div>

{%endblock%}