{% extends 'TeacherBase.html' %} {% block title %}TeacherExamsPage{% endblock %}
{% block BODY %}
<style>
    #button_TeacherExamsPage {
        background-color: black;
        color: #fff;
    }
</style>
<div>
    <div style="display: flex;" >
    <form action="/TeacherExamsPage" method="get">
        <div class="TeacherPage">

            <label for="selectClass" style="cursor: pointer;">Select Class:</label>
        </div>
        
        <select id="selectClass" name="selectedClass" style="margin-left: 5%; margin-top: 2%;">
            <option value="CS">CS</option>
            <option value="IT">IT</option>
            <option value="AI DS">AI DS</option>
            <option value="AI ML">AI ML</option>
        </select>
        <div class="TeacherPage">
            <input type="submit" value="GET" style="padding: 3% 6% 3% 6%; font-size: medium;" class="button-8">
        </div>
     </form>
    </div>
</div>
<div style="padding: 1%; background-color: white; margin: 1%; height: 100%; border: 1px black solid;">
    <form action="/TeacherExamsPage" method="post">
        <table class="students">
            <tr> 
                <th>NAME</th>
                <th>STUDENT_ID</th>
                <th>MARKS</th>
            </tr>

            <tr>
                <td>
                    siddhant
                </td>
                <td>
                    12211378
                </td>
                <td style="width: 20%; ;">
                    
                        <input type="text" class="input1" style="width: 20%; height: 2vh;" >
                    
                    
                </td>
            </tr>

        </table>
        <input type="submit" value="SUBMIT" style="padding: 1% 2% 1% 2%; font-size: medium; margin-top: 2%;" class="button-8">
    </form>
    </div>
    

{%endblock%}