{% extends 'TeacherBase.html' %}

{% block title %}TeacherAttendancePage{% endblock %}

{% block BODY %}
<style>
    #button_stdprofile{
        background-color: black ;
        color: #fff;
    }
</style>
<div>
    <div style="display: flex;" >
    <form action="/TeacherAttendancePage" method="get">
        <div class="TeacherPage">

            <label for="selectClass" style="cursor: pointer;">Select Class:</label>
        </div>
        
        <select id="selectClass" name="selectedClass" style="margin-left: 5%; margin-top: 2%;">
            <option value="CS">CS</option>
            <option value="IT">IT</option>
            <option value="AI DS">AI DS</option>
            <option value="AI ML">AI ML</option>
        </select>
        <div class="TeacherPage">
            <input type="submit" value="Submit" style="padding: 3% 6% 3% 6%; font-size: medium;" class="button-8">
        </div>
    </form>
</div>
</div>


{%endblock%}