{% extends 'TeacherBase.html' %}

{% block title %}TeacherHomePage{% endblock %}

{% block BODY %}
<style>
    #button_TeacherProfile{
        background-color: black ;
        color: #fff;
    }
</style>


<div>
    <div class="homepageinfo" style="font-size: 40px; padding-top: 10vh; width: 100%;">NAME:
        <span>
             {{result[8]}}
        </span>
    </div>
    <div class="">
     <table>
             <tr>
             <td>
                     <div class="homepageinfo">EMAIL ID: 
                        <span class="homepagevalue">
                            {{result[6]}}
                        </span>
                    </div>
                            
                 </td>
                 <td>
                     <div class="homepageinfo">PHONE NO.:
                        <span class="homepagevalue">
                            {{result[11]}}
                        </span>
                    </div>
                 </td>
             </tr>
        
        
            <tr>
                <td>
                    <div class="homepageinfo">D.O.B.:
                       <span class="homepagevalue">
                            {{result[9]}}
                       </span>
                    </div>
                </td>
                <td>
                    <div class="homepageinfo">ADDRESS: 
                        <span class="homepagevalue">
                            {{result[10]}}
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="homepageinfo">YEARS OF EXPERIENCE:
                        <span class="homepagevalue">
                            {{result[12]}}
                        </span>
                    </div>
                </td>
                <td>
                    <div class="homepageinfo">SUBJECT: 
                        <span class="homepagevalue">
                            {{result[5]}}
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="homepageinfo">UNIQUE ID: 
                        <span class="homepagevalue">
                            {{result[0]}}
                        </span>
                    </div>
                </td>
            </tr>
        
     </table>
    </div>
</div>

{%endblock%}